{% include 'header.twig' %}
<div class="w3-padding">
    <h1>Admin Dashboard</h1>

</div>
<label>Name:</label><input type="text">
<label>vame:</label><input type="text">
<label>came:</label><input type="text">

<input type="submit" class="btn">
<input type="submit" class="btnw">
{% include 'fotter.twig' %}

