<div class="accordion-container">

    <div class="ac">
        <h6 class="ac-q" tabindex="0">Cooking Essentials</h6>
        <div class="ac-a">
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/8" onclick="w3_close();"><b>Rice</b></a>
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/29" onclick="w3_close();">&#8594;Basmati Rice</a>
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/30" onclick="w3_close();">&#8594;Nazirshail</a>

            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/15" onclick="w3_close();"><b>Oil</b></a>
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/16" onclick="w3_close();">&#8594;Soybean Oil</a>
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/17" onclick="w3_close();">&#8594;Mustard Oil</a>
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/18" onclick="w3_close();">&#8594;Olive Oil</a>
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/19" onclick="w3_close();">&#8594;Rice Bran Oil</a>
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/20" onclick="w3_close();">&#8594;Sunflower Oil</a>
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/27" onclick="w3_close();">&#8594;Vegetable oil</a>

            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/31" onclick="w3_close();"><b>Spices</b></a>

            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/40" onclick="w3_close();"><b>Ghee</b></a>

            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/43" onclick="w3_close();"><b>Atta flour</b></a>


        </div>
    </div>    
    <div class="ac">
        <h6 class="ac-q" tabindex="0">Baby Food & Care</h6>
        <div class="ac-a">
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/21" onclick="w3_close();"><b>Baby Shampoo</b></a>

            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/24" onclick="w3_close();"><b>Baby Diaper & Wipes</b></a>

            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/25" onclick="w3_close();"><b>Baby Food</b></a>

            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/45" onclick="w3_close();"><b>Baby Games Items</b></a>

            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/46" onclick="w3_close();"><b>Others Baby Items</b></a>


        </div>
    </div>    <div class="ac"><h6 class="ac-q" tabindex="0">Chocolates & Candies</h6>
        <div class="ac-a">
            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/22" onclick="w3_close();"><b>Chocolate</b></a>

            <a class="w3-block w3-hover-grey w3-padding" href="https://supergroceryshop.com/category/23" onclick="w3_close();"><b>Candy</b></a>


        </div>
    </div>    
</div>