<nav class="w3-sidebar w3-collapse leftmenu w3-animate-left" style="z-index:3;width:230px;" id="sidebar">
    <div class="dblue w3-padding w3-xlarge w3-center w3-hide-small">Kring Admin V.2</div>
    <br>
    <div class="w3-container">
        <a href="{{ baseurl }}"><h5><i class="fa fa-home"></i> Home</h5></a>
    </div>
    <div class="w3-bar-block">

        <a href="{{ baseurl }}/user" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>All Users</a>   
        <a href="{{ baseurl }}/eng_level" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>Levels</a>   
        <a href="{{ baseurl }}/configs" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>Configs</a>   

    </div>

</nav>