html,body,h1,h2,h3,h4,h5 {font-family: 'Roboto', sans-serif;}
html,body{font-size:14px;line-height:1.2}


.w3-sidebar a:hover{background-color:#000!important;color:#fff!important}
.w3-modal-content{}


::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px grey;border-radius: 5px;}
::-webkit-scrollbar-thumb {background: #4d3d00;border-radius: 5px;}
::-webkit-scrollbar-thumb:hover {background: #b38f00;}