{% include 'header.twig' %}
<div class="w3-padding">
    <h1>Admin Dashboard</h1>

</div>
<div class="w3-row-padding w3-xlarge">
    <div class="w3-col s12 m3 l3">
        <div class="w3-dark-gray w3-card w3-padding w3-center">
            <a href="#">
                <h3>Registared User</h3>
                {{ totaluser }}
            </a>
        </div>
    </div>
    <div class="w3-col s12 m3 l3">
        <div class="w3-deep-orange w3-card w3-padding w3-center">
        <h3>Total Visitor</h3>
        125
        </div>
    </div>
    <div class="w3-col s12 m3 l3">
        <div class="w3-blue w3-card w3-padding w3-center">
        <h3>Live Visitor</h3>
        12
        </div>
    </div>
            
    <div class="w3-col s12 m3 l3">
        <div class="w3-pink w3-card w3-padding w3-center">
        <h3>Top Scored!</h3>
        12
        </div>
    </div>
    
</div>
{% include 'fotter.twig' %}

