</div>
</div>

</div>
<script src="{{ baseurl }}/js/common.js"></script>
<script src="{{ baseurl }}/js/page.js"></script>
<script src="{{ baseurl }}/js/app.js"></script>
<script>
// Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

// Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
    function openmodal() {
        document.getElementById('id01').style.display = 'block';
    }
    function closemodal() {
        document.getElementById('id01').style.display = 'none';
    }
</script>
</body>
</html>