
.d1{
    background-color:#0d0d0d ;
    color:#ffffff;
}
.d2{
    background-color:#1a1a1a ;
    color:#ffffff;
}
.d3{
    background-color:#262626 ;
    color:#ffffff;
}
.d4{
    background-color:#333333 ;
    color:#ffffff;
}
.d5{
    background-color:#595959 ;
    color:#ffffff;
}

.d6{
    background-color:#666666 ;
    color:#ffffff;
}

.d7{
    background-color:#737373 ;
    color:#ffffff;
}

.d8{
    background-color:#808080 ;
    color:#ffffff;
}

.l1{
    background-color:#ffffff ;
    color:#000;
}
.l2{
    background-color:#f2f2f2;
    color:#000;
}
.l2{
    background-color:#f2f2f2;
    color:#000;
}

.text-red{color: #990000!important;}
.text-yellow,.text-y{color: #b3b300!important;}
.text-blue{color: #006bb3!important}