
.d00{
    background-color:#0d0d0d ;
    color:#ffffff;
}
.d0{
    background-color:#1a1a1a ;
    color:#ffffff;
}.leftmenu{
    background-color:#1a1a1a;
    color:#fff;
}
.d1{
    background-color:#262626 ;
    color:#ffffff;
}
.d2{
    background-color:#333333 ;
    color:#ffffff;
}
.d3{
    background-color:#595959 ;
    color:#ffffff;
}

.d4{
    background-color:#666666 ;
    color:#ffffff;
}

.d5{
    background-color:#737373 ;
    color:#ffffff;
}

.d6{
    background-color:#808080 ;
    color:#ffffff;
}

.l1{
    background-color:#ffffff ;
    color:#000;
}
.l2{
    background-color:#f2f2f2;
    color:#000;
}
.l2{
    background-color:#f2f2f2;
    color:#000;
}

.text-red{color: #990000!important;}
.text-yellow,.text-y{color: #b3b300!important;}
.text-blue{color: #006bb3!important}


.w3-table-all tr:nth-child(odd){background-color:#333333!important;border-bottom: #595959;}
.w3-table-all tr:nth-child(even){background-color:#404040!important;border-bottom: #595959;}
.w3-table-all{border:1px solid #595959!important;}